body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana;
    font-weight: normal;
}

header h1 {
    font-size: 50px;
}

section h1 {
    font-weight: 300;
    font-size: 42px;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

.guide p {
    color: gray;
    font-size: 21px;
}

footer p {
    text-align: right;
    color: gray;
}
